__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/

*
!.gitignore
!zapatos/
!zapatos/**
!zapatos_extension/
!zapatos_extension/**
!zapatos_pedido_proveedor/
!zapatos_pedido_proveedor/**
!zapatos_ventas/
!zapatos_ventas/**
!zapatos_proveedores/
!zapatos_proveedores/**
**/_pycache_/
*.pyc
*.pyo
*.pyd
